.default-margin {
    margin: 30px 10px 30px 10px;
}

.no-margin {
    margin: 0;
}

.login-box {
    margin-top: 8%;
}

.login-icon {
    margin: 80px 0 40px 0;
}

.login-button {
    margin: 60px 0 20px 0;
}

.link {
    color: #039be5;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}